{
  "extends": ["taro"],
  "rules": {
//    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
  "plugins": [
//    "@typescript-eslint",
//    "eslint-comments",
//    "jest",
//    "promise",
//    "unicorn",
    "react",
    "taro",
    "react-hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
  }
