{
    "branch": "master",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
            "@semantic-release/npm",
            {
              "tarballDir": "dist"
            }
          ],
      [
        "@semantic-release/github",
        {
          "assets": "dist/*.tgz"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": ["package.json"],
          "message": "chore(🤖):${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
      ]
    ]
  }