.item {
  margin-bottom: 10px;
  padding: 40px;
  //display: flex;
  //align-items: center;
  border: 1px solid;
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
    background-color: dimgrey;
  }
  .title {
    margin-right: auto;
    margin-bottom: 5px;
  }
}

