.pullDownBlock {
  //background: red;
  position: relative;
  overflow: hidden;
  font-size: 28px;
  //will-change: height;
  .tip {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.loading, .loaded {
  text-align: center;
  font-size: 24px;
  padding: 12px;
  //animation: loading infinite 1000ms ease;
}
.loaded {
  color: #e6e6e6;
}
.errorPage {
  text-align: center;
  padding: 40px;
  .button {
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    padding: 10px;
  }
}
.noContentTips {
  display: flex;
  padding: 100px 20px 20px;
  text-align: center;
  flex-direction: column;
  .emptyBanner {
    width: 250px;
    height: 170px;
    display: inline-block;
    margin: 0 auto 20px;
  }
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
